.banner {
  img {
    width: 100vw;
    max-height: 400px;
    margin: 0;
  }
}

.container {
  max-width: 721px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 10rem;
}

.content {
  text-align: justify;

  h1 {
    margin-top: 5rem;
    font-size: 3rem;

    //Common
    color: var(--heading);
    font-weight: 700;
  }

  .label {
    margin: 1.5rem 0 0rem 0;
    display: flex;
    align-items: center;
    color: var(--info);
    font-size: 0.875rem;

    time {
      display: block;
    }

    span,
    time {
      display: block;
      margin: 0.5rem;
    }
  }

  strong {
    color: var(--heading);
    display: block;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.15rem;
  }

  p {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.575rem;
    color: var(--body);

    & + strong {
      margin-top: 2rem;
    }
  }
}

.editWhen {
  color: var(--info);
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1rem;
}

.divider {
  border-top: 1px solid var(--body);
  margin-top: 3.75rem;
  margin-bottom: 3rem;
  opacity: 0.1;
}

.postNav {
  display: flex;
  justify-content: space-between;
  border: 5px white;
  border-color: aqua;
  text-align: left;
  margin-bottom: 5rem;
  width: 100%;
  text-align: left;
  p {
    color: var(--heading);
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  span {
    color: var(--highlight);
    font-weight: 600;
  }

  & div:last-child {
    width: 300px;
    align-self: flex-end;
    text-align: right;
  }
}

.preview {
  a {
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 5.5rem;
    margin-bottom: 6.625rem;
    display: flex;
    background: var(--heading);
    width: 700px;
    height: 58px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}
